@keyframes anim-itm {
  0% {
    opacity: 0;
  }
  0%, 25% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(50%);
    opacity: 0.2;
    animation-timing-function: ease-out;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loading-point {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  45%, 55% {
    transform: translateY(-100%);
    animation-timing-function: ease-in;
  }
}
@keyframes loader-show {
  0%, 100% {
    transform: translateX(0);
  }
}
* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: 0;
}

.ctrd-section {
  width: 90%;
  margin: auto;
}

@font-face {
  font-family: "robotoregular";
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff2") format("woff2"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("../fonts/shrikhand-regular-webfont.eot");
  src: url("../fonts/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand-regular-webfont.woff") format("woff"), url("../fonts/shrikhand-regular-webfont.ttf") format("truetype"), url("../fonts/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
*:not(.logo) {
  font-family: "robotoregular", sans-serif;
}
*:not(.menu__header__name) {
  font-family: "robotoregular", sans-serif;
}

.logo, .menu__header__name {
  font-family: "shrikhandregular", sans-serif;
  font-weight: normal;
  font-size: 1.7rem;
}
@media screen and (min-width: 1025px) {
  .logo, .menu__header__name {
    font-size: 2.04rem;
  }
}

.logo {
  color: #000;
}
.logo.logo--ftr {
  color: #fff;
}

.icon {
  color: #000000;
  font-size: 1.2rem;
}
.icon.icon--fade {
  color: gray;
}
.icon.icon--primary {
  color: #9356DC;
}
.icon.icon--bright {
  color: #fff;
}
.icon.icon--small {
  font-size: 0.84rem;
}
.icon.icon--smaller {
  font-size: 0.6rem;
}
.icon.icon--big {
  font-size: 1.44rem;
}
@media screen and (min-width: 1025px) {
  .icon.icon--big {
    font-size: 1.728rem;
  }
}
.icon.icon--tofill {
  position: relative;
}
.icon.icon--tofill:hover {
  cursor: pointer;
}
.icon.icon--tofill:hover > .icon--filled {
  transform: scale(1);
  cursor: pointer;
}
.icon.icon--tofill:active {
  cursor: pointer;
}
.icon.icon--tofill:active > .icon--filled {
  transform: scale(1);
  cursor: pointer;
}
.icon.icon--filled {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FF79DA;
  transform-origin: 30% bottom;
  transform: scale(0);
  transition: transform 100ms ease-in;
}
@media screen and (min-width: 1025px) {
  .icon.icon--filled {
    transform-origin: 40% bottom;
  }
}

.btn {
  width: 60%;
  height: 50px;
  border-radius: 10rem;
  background: radial-gradient(ellipse at top left, #FF79DA, #9356DC);
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0px 3px 7px #99E2D0;
}
@media screen and (min-width: 1025px) {
  .btn {
    width: 33.3333333333%;
    height: 75px;
    font-size: 1.2rem;
    margin-bottom: 75px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .btn {
    width: 72%;
  }
}
.btn:hover::after {
  opacity: 1;
}
.btn:active::after {
  opacity: 1;
}
.btn::after {
  content: "";
  background: radial-gradient(ellipse at top left, #fface8, #ae80e5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 10rem;
  box-shadow: 0px 5px 2px #99E2D0;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.card {
  width: 100%;
  height: 280px;
  margin-bottom: 30px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 3px 7px #99E2D0;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .card {
    width: 24.3902439024%;
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .card {
    width: 47.619047619%;
    height: 224px;
  }
}
.card > a {
  text-decoration: none;
}
.card__pic {
  width: 100%;
  height: 196px;
}
.card__pic__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .card__pic {
    height: 156.8px;
  }
}
.card__new {
  width: auto;
  height: 20px;
  position: absolute;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  color: #FF79DA;
  background: #99E2D0;
}
.card__banner {
  width: 100%;
  height: 84px;
  font-size: 1.1rem;
  color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 1rem;
  margin: 0;
  line-height: 1rem;
}
.card__banner strong {
  font-weight: bold;
}
@media screen and (min-width: 1025px) {
  .card__banner {
    font-size: 1.32rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .card__banner {
    line-height: 0.8;
    padding: 0;
    padding-left: 1rem;
    padding-bottom: 1.2rem;
  }
}
.card > .icon {
  position: absolute;
  bottom: 30px;
  right: 20px;
  z-index: 10;
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .card > .icon {
    bottom: 23px;
  }
}

body {
  position: relative;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: translateX(-100%);
  animation: loader-show 3000ms backwards;
}
.loader__point {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 45vh;
  font-size: 2rem;
  animation: loading-point 800ms backwards infinite normal;
}
.loader__point--1 {
  animation-delay: 266.6666666667ms;
  color: #9356DC;
}
.loader__point--2 {
  animation-delay: 533.3333333333ms;
  color: #FF79DA;
}
.loader__point--3 {
  animation-delay: 800ms;
  color: #99E2D0;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px #7a7a7a;
  position: relative;
}
@media screen and (min-width: 1025px) {
  header {
    height: 84px;
  }
}
header .icon {
  position: absolute;
  top: 25px;
  left: 25px;
}
@media screen and (min-width: 1025px) {
  header .icon {
    font-size: 1.5rem;
  }
}

.footer {
  background-color: #303030;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1rem;
}
@media screen and (min-width: 1025px) {
  .footer {
    margin-top: 0;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .footer {
    margin-top: 0;
    text-align: center;
  }
}
.footer .logo {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.1rem;
}
@media screen and (min-width: 1025px) {
  .footer .logo {
    font-size: 1.7rem;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .footer .logo {
    font-size: 1.5rem;
  }
}
.footer__list {
  list-style-type: none;
  padding-left: 0;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.footer__list__item {
  margin-bottom: 5px;
}
@media screen and (min-width: 1025px) {
  .footer__list__item {
    margin-bottom: 15px;
    font-size: 1.1rem;
  }
}
.footer__list__item em {
  font-weight: bold;
  font-style: normal;
}
.footer__list__item .icon {
  margin-right: 10px;
}
@media screen and (min-width: 1025px) {
  .footer__list__item .icon {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .footer__list__item .icon {
    font-size: 0.9rem;
  }
}
.footer__list__item a {
  color: #fff;
  text-decoration: none;
}

.page {
  height: auto;
}
.page__pic {
  width: 100%;
  height: 300px;
  margin-bottom: -50px;
}
@media screen and (min-width: 1025px) {
  .page__pic {
    height: 600px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .page__pic {
    height: 400px;
  }
}
.page__pic__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding-top: 30px;
  position: relative;
  background: white;
}
.menu__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1025px) {
  .menu__header {
    justify-content: center;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .menu__header {
    margin-bottom: 30px;
  }
}
.menu__header__name {
  font-family: "shrikhandregular", sans-serif;
  font-weight: normal;
  font-size: 1.7rem;
}
@media screen and (min-width: 1025px) {
  .menu__header__name {
    margin-right: 2.5%;
  }
}
.menu__header .icon {
  font-size: 1.7rem;
  padding-right: 15px;
}
.menu__section {
  margin-bottom: 50px;
}
@media screen and (min-width: 1025px) {
  .menu__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.menu__section__title {
  font-size: 1.1rem;
  font-weight: normal;
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
}
@media screen and (min-width: 1025px) {
  .menu__section__title {
    font-size: 1.32rem;
    width: min-content;
    margin-bottom: 40px;
  }
}
.menu__section__title::after {
  content: "";
  height: 3px;
  width: 45px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -9px;
  left: 0;
}
.menu .submit {
  display: flex;
  justify-content: center;
  margin-top: 16.6666666667px;
  margin-bottom: 66.6666666667px;
}
@media screen and (min-width: 1025px) {
  .menu .submit {
    width: 60%;
    margin: auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .menu .submit {
    width: 40%;
    margin: auto;
    margin-bottom: 70px;
  }
}

.list {
  list-style-type: none;
  padding-left: 0;
}
@media screen and (min-width: 1025px) {
  .list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-between;
  }
}
.list__item {
  border-radius: 1rem;
  width: 100%;
  height: 70px;
  box-shadow: 0px 3px 7px #99E2D0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 12px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 0;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  animation: anim-itm 1000ms ease-in both;
}
.list__item--1 {
  animation-delay: 100ms;
}
.list__item--2 {
  animation-delay: 200ms;
}
.list__item--3 {
  animation-delay: 300ms;
}
.list__item--4 {
  animation-delay: 400ms;
}
.list__item--5 {
  animation-delay: 500ms;
}
@media screen and (min-width: 1025px) {
  .list__item {
    width: 22.2222222222%;
    height: 105px;
    margin-right: 2.5%;
    padding-left: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .list__item {
    width: 47.619047619%;
    margin-right: 2.2%;
  }
}
.list__item__txt {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80%;
  flex: 5;
  padding-bottom: 12px;
}
@media screen and (min-width: 1025px) {
  .list__item__txt {
    font-size: 1.2rem;
    height: 100%;
    line-height: 2;
  }
}
.list__item__txt em {
  font-weight: bold;
  font-style: normal;
  font-size: 1.1rem;
}
@media screen and (min-width: 1025px) {
  .list__item__txt em {
    font-size: 1.32rem;
  }
}
.list__item__price {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  margin-left: 20px;
  padding-bottom: 12px;
  flex: 1;
  transform: translateX(200%);
  transform-origin: right;
  transition: transform 200ms cubic-bezier(0.03, 0.73, 0, 0.99);
}
@media screen and (min-width: 1025px) {
  .list__item__price {
    font-size: 1.2rem;
    padding-bottom: 20px;
  }
}
.list__item__select {
  flex: 2;
  height: 70px;
  background-color: #99E2D0;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transform-origin: right;
  transition: transform 200ms cubic-bezier(0.03, 0.73, 0, 0.99);
}
@media screen and (min-width: 1025px) {
  .list__item__select {
    height: 105px;
  }
}
.list__item__select > .icon {
  transform: rotate(0);
  transition: transform 170ms 30ms ease-in-out;
}
.list__item:hover > .list__item__price {
  transform: translateX(0);
}
.list__item:hover > .list__item__select {
  transform: translateX(0);
}
.list__item:hover > .list__item__select > .icon {
  transform: rotate(360deg);
}
.list__item:active > .list__item__price {
  transform: translateX(0);
}
.list__item:active > .list__item__select {
  transform: translateX(0);
}
.list__item:active > .list__item__select > .icon {
  transform: rotate(360deg);
}

* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: 0;
}

.ctrd-section {
  width: 90%;
  margin: auto;
}

@font-face {
  font-family: "robotoregular";
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff2") format("woff2"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("../fonts/shrikhand-regular-webfont.eot");
  src: url("../fonts/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand-regular-webfont.woff") format("woff"), url("../fonts/shrikhand-regular-webfont.ttf") format("truetype"), url("../fonts/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
*:not(.logo) {
  font-family: "robotoregular", sans-serif;
}
*:not(.menu__header__name) {
  font-family: "robotoregular", sans-serif;
}

.logo, .menu__header__name {
  font-family: "shrikhandregular", sans-serif;
  font-weight: normal;
  font-size: 1.7rem;
}
@media screen and (min-width: 1025px) {
  .logo, .menu__header__name {
    font-size: 2.04rem;
  }
}

.zone {
  width: 100%;
  height: 50px;
  background-color: #d5f3eb;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .zone {
    display: none;
  }
}
.zone__name {
  margin-left: 1rem;
}
.zone.zone--desktop {
  display: none;
}
@media screen and (min-width: 1025px) {
  .zone.zone--desktop {
    width: 25%;
    height: 50px;
    background-color: #d5f3eb;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1025px) {
  .wrap__intro {
    display: flex;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .wrap__intro {
    display: flex;
    flex-flow: row wrap;
  }
}

.intro {
  width: 100%;
  height: 300px;
  background-color: #e8f9f5;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .intro {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 70px;
    height: 450px;
    width: 60%;
    border-radius: 1rem;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .intro {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 300px;
    border-radius: 1rem;
  }
}
.intro__title {
  width: 75%;
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 0;
}
@media screen and (min-width: 1025px) {
  .intro__title {
    font-size: 2.04rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .intro__title {
    font-size: 1.5rem;
  }
}
.intro__subtitle {
  width: 90%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 7%;
}
@media screen and (min-width: 1025px) {
  .intro__subtitle {
    font-size: 1.32rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .intro__subtitle {
    width: 70%;
  }
}

.explain {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (min-width: 1025px) {
  .explain {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 70px;
    height: 450px;
    width: 30%;
    align-items: flex-start;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .explain {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 300px;
    align-items: flex-start;
    justify-content: space-around;
  }
}
.explain__title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 0;
}
@media screen and (min-width: 1025px) {
  .explain__title {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .explain__title {
    font-size: 1.35rem;
    padding-top: 0;
  }
}
.explain__list {
  height: 75%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style: none;
  counter-reset: explain;
}
@media screen and (min-width: 1025px) {
  .explain__list {
    width: 100%;
    align-items: flex-start;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .explain__list {
    width: 100%;
    align-items: flex-start;
  }
}
.explain__list__item {
  width: 98%;
  height: 70px;
  border-radius: 1rem;
  box-shadow: 0px 3px 7px #99E2D0;
  background-color: #e8f9f5;
  display: flex;
  align-items: center;
  font-weight: bold;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .explain__list__item {
    font-size: 1.2rem;
    width: 100%;
    height: 84px;
    padding-left: 2%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .explain__list__item {
    font-size: 1rem;
    width: 100%;
    height: 56px;
  }
}
.explain__list__item .icon {
  margin-left: 2rem;
  margin-right: 2rem;
}
.explain__list__item::before {
  counter-increment: explain;
  content: counter(explain);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #9356DC;
  color: #fff;
  font-size: 0.8rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12.5px;
}
@media screen and (min-width: 1025px) {
  .explain__list__item::before {
    width: 30px;
    height: 30px;
    left: -15px;
    font-size: 0.96rem;
  }
}

.restau-sect {
  height: auto;
  background-color: #e8f9f5;
  padding-bottom: 40px;
}
@media screen and (min-width: 1025px) {
  .restau-sect {
    padding-bottom: 0;
  }
}
.restau-sect__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
@media screen and (min-width: 1025px) {
  .restau-sect__title {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .restau-sect__title {
    margin-bottom: 30px;
  }
}
.restau-sect__content {
  height: auto;
}
.restau-sect__content .card-container {
  height: auto;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .restau-sect__content .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .restau-sect__content .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.restau-sect__content > .zone {
  border-radius: 1rem;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
