@import "../utils/variables";
@import "../utils/maps";
@import "../utils/mixins";

header {
    width: 100%;
    height: $hdr-height;
    display: flex;
    justify-content: center;
    align-items: center;
    @include header-shadow;
    position: relative;
    @include desktop-only {
        height: $hdr-height * $dsktp-font-multiplier;
    }
    .icon {
        position: absolute;
        top: $icon-rtn-pos;
        left: $icon-rtn-pos;
    }
}