@import "../utils/variables";
@import "../utils/maps";
@import "../utils/mixins";

.list {
    list-style-type: none;
    padding-left: 0;
    @include desktop-only {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    &__item {
        @include box-style;
        @include list-item-justify;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        @include animation-items;
        @for $i from 1 through $num-items {
            &--#{$i} {
                animation-delay: $anim-itm-del * $i;
             }
        }
        @include desktop-only {
            width: $item-width / 4.5;
            height: $item-height * 1.5;
            margin-right: 2.5%;
            padding-left: 20px;
        }
        &__txt {
            @include no-block-margin;
            @include txt-overflow;
            max-width: 80%;
            flex: 5;
            padding-bottom: 12px;
            @include desktop-only {
                font-size: map-get($font-size, mid) * $dsktp-font-multiplier;
                height: 100%;
                line-height: 2;
            }
            em {
                font-weight: bold;
                font-style: normal;
                font-size: map-get($font-size, mid-plus);
                @include desktop-only {
                    font-size: map-get($font-size, mid-plus) * $dsktp-font-multiplier;
                }    
            }
        }
        &__price {
            @include no-block-margin;
            font-weight: bold;
            margin-left: 20px;
            padding-bottom: 12px;
            flex: 1;
            transform: translateX(200%);
            transform-origin: right;
            transition: transform $transition-short $bez-slow-end;
            @include desktop-only {
                font-size: map-get($font-size, mid) * $dsktp-font-multiplier;
                padding-bottom: 20px;  
            }
        }
        &__select {
            flex: 2;
            height: $item-height;
            background-color: $clr-tertiary;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(100%);
            transform-origin: right;
            transition: transform $transition-short $bez-slow-end;
            @include desktop-only {
                height: $item-height * 1.5;
            }
            > .icon {
                transform: rotate(0);
                transition: transform 170ms 30ms ease-in-out;
            }
        }
        &:hover {
            > .list__item__price {
                transform: translateX(0);
            }
            > .list__item__select {
                transform: translateX(0);
                > .icon {
                    transform: rotate(360deg);
                }
            }
        }
        &:active {
            > .list__item__price {
                transform: translateX(0);
            }
            > .list__item__select {
                transform: translateX(0);
                > .icon {
                    transform: rotate(360deg);
                }
            }
        }
    }
}