body {
    position: relative;
}

.loader {
    @include pseudo-pos;
    z-index: 999;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(-100%);
    animation: loader-show $load-dur backwards;
    &__point {
        @include load-pt;
        @for $i from 1 through $num-pt {
            &--#{$i} {
                animation-delay: $load-pt-del * $i;
                @if ($i == 1) {
                    color: $clr-primary;
                }
                @else if ($i == 2) {
                    color: $clr-secondary;
                }
                @else if ($i == 3) {
                    color: $clr-tertiary;
                }
            }
        }
    }
}