@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/maps";

.card {
    width: $card-width;
    height: $card-height;
    margin-bottom: $card-mrg-btm;
    @include box-style(card);
    position: relative;
    @include desktop-only {
        width: $card-width / 4.1;
        margin-bottom: $card-mrg-btm * 5;
    }
    @include tablet-only {
        width: $card-width / 2.1;
        height: $tblt-card-height;
    }
    > a {
        text-decoration: none;
    }
    &__pic {
        width: $card-width;
        height: $card-pic-height;
        &__img {
            @include img-fill-space;
        }
        @include tablet-only {
            height: $tblt-card-pic-height;
        }
    }
    &__new {
        width: auto;
        height: 20px;
        position: absolute;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        top: $card-new-pos;
        right: $card-new-pos;
        font-size: map-get($font-size, mid);
        font-style: normal;
        font-weight: bold;
        color: $clr-secondary;
        background: $clr-tertiary;
    }
    &__banner {
        width: $card-width;
        height: $card-height - $card-pic-height;
        font-size: map-get($font-size, mid-plus);
        color: black;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        padding: 1rem;
        margin: 0;
        line-height: 1rem;
        strong {
            font-weight: bold;
        }
        @include desktop-only {
            font-size: map-get($font-size, mid-plus) * $dsktp-font-multiplier;
        }
        @include tablet-only {
            line-height: .8;
            padding: 0;
            padding-left: 1rem;
            padding-bottom: 1.8rem;
            padding-top: .6rem;
        }
    }
    > .icon {
        position: absolute;
        bottom: $card-icon-pos;
        right: $card-icon-pos / 1.5;
        z-index: 10;
        @include tablet-only {
            bottom: 23px;
        }
    }
}