@import "../utils/variables";
@import "../utils/maps";
@import "../utils/mixins";
@import "../base/base";
@import "../base/typography";

.zone {
    width: 100%;
    height: $where-height;
    @include bg-lighten($clr-tertiary, 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    &__name {
        margin-left: 1rem;
    }
}

.intro {
    width: 100%;
    height: 300px;
    @include bg-lighten($clr-tertiary, 20%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    &__title {
        width: 75%;
        font-size: map-get($font-size, big);
        font-weight: bold;
        margin-top: 10%;
        margin-bottom: 0;
    }
    &__subtitle {
        font-size: map-get($font-size, mid-plus);
        font-weight: normal;
        margin-bottom: 7%;
    }
}

.explain {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &__title {
        font-size: map-get($font-size, big-min);
        font-weight: bold;
        padding-top: 30px;
        margin-bottom: 0;
    }
    &__list {
        height: 75%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        list-style: none;
        counter-reset: explain;
        &__item {
            @include box-style(explain);
            @include bg-lighten($clr-tertiary, 20%);
            display: flex;
            align-items: center;
            font-weight: bold;
            position: relative;
            .icon {
                margin-left: 2rem;
                margin-right: 2rem;
            }
            &::before {
                @include ol-style;
            }
        }
    }
}

.restau-sect {
    height: auto;
    @include bg-lighten($clr-tertiary, 20%);
    &__title {
        @include no-block-margin;
        padding-top: 50px;
        margin-bottom: 20px;
        font-size: map-get($font-size, big-min);
    }
    &__content {
        height: auto;
        .card-container {
            height: auto;
            width: 100%;
        }
    }
}