@import "../utils/variables";
@import "../utils/maps";
@import "../utils/mixins";
@import "../base/base";
@import "../base/typography";

.zone {
    width: 100%;
    height: $where-height;
    @include bg-lighten($clr-tertiary, 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop-only {
        display: none;
    }
    &__name {
        margin-left: 1rem;
    }
    &.zone--desktop {
        display: none;
        @include desktop-only {
            width: 25%;
            height: $where-height;
            @include bg-lighten($clr-tertiary, 15%);
            display: flex;
            justify-content: center;
            align-items: center;                   
        }
    }
}

.wrap {
    &__intro {
        @include desktop-only {
            display: flex;
        }
        @include tablet-only {
            display: flex;
            flex-flow: row wrap;
        }
    }
}

.intro {
    width: 100%;
    height: 300px;
    @include bg-lighten($clr-tertiary, 20%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    @include desktop-only {
        @include intro-desktop-dim;
        width: 60%;
        border-radius: $item-radius;
        justify-content: space-evenly;
    }
    @include tablet-only {
        @include intro-tablet-bloc;
        border-radius: $item-radius;
    }
    &__title {
        width: 75%;
        font-size: map-get($font-size, big);
        font-weight: bold;
        margin-top: 10%;
        margin-bottom: 0;
        @include desktop-only {
            font-size: map-get($font-size, big) * $dsktp-font-multiplier;
        }
        @include tablet-only {
            font-size: map-get($font-size, big-min);
        }
    }
    &__subtitle {
        width: 90%;
        text-align: center;
        font-size: map-get($font-size, mid-plus);
        font-weight: normal;
        margin-bottom: 7%;
        @include desktop-only {
            font-size: map-get($font-size, mid-plus) * $dsktp-font-multiplier;
        }
        @include tablet-only {
            width: 70%;
        }
    }
}

.explain {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include desktop-only {
        @include intro-desktop-dim;
        width: 30%;
        align-items: flex-start;
    }
    @include tablet-only {
        @include intro-tablet-bloc;
        align-items: flex-start;
        justify-content: space-around;
    }
    &__title {
        font-size: map-get($font-size, big-min);
        font-weight: bold;
        padding-top: 30px;
        margin-bottom: 0;
        @include desktop-only {
            font-size: map-get($font-size, big-min) * $dsktp-font-multiplier;
        }
        @include tablet-only {
            font-size: map-get($font-size, big-min) * 0.9;
            padding-top: 0;
        }
    }
    &__list {
        height: 75%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        list-style: none;
        counter-reset: explain;
        @include desktop-only {
            width: 100%;
            align-items: flex-start;
        }
        @include tablet-only{
            width: 100%;
            align-items: flex-start;
        }
        &__item {
            @include box-style(explain);
            @include bg-lighten($clr-tertiary, 20%);
            display: flex;
            align-items: center;
            font-weight: bold;
            position: relative;
            @include desktop-only {
                font-size: map-get($font-size, mid) * $dsktp-font-multiplier;
                width: 100%;
                height: $item-height * $dsktp-font-multiplier;
                padding-left: 2%;
            }
            @include tablet-only {
                font-size: map-get($font-size, mid);
                width: 100%;
                height: $item-height * .8;
            }
            .icon {
                margin-left: 2rem;
                margin-right: 2rem;
            }
            &::before {
                @include ol-style;
                @include desktop-only {
                    width: $ol-nbr-size * $dsktp-font-multiplier;
                    height: $ol-nbr-size * $dsktp-font-multiplier;
                    left: -(($ol-nbr-size*$dsktp-font-multiplier) / 2);
                    font-size: map-get($font-size, small) * $dsktp-font-multiplier;                
                }
            }
        }
    }
}

.restau-sect {
    height: auto;
    @include bg-lighten($clr-tertiary, 20%);
    padding-bottom: 40px;
    @include desktop-only {
        padding-bottom: 0;
    }
    &__title {
        @include no-block-margin;
        padding-top: 50px;
        margin-bottom: 20px;
        font-size: map-get($font-size, big-min);
        @include desktop-only {
            font-size: map-get($font-size, big-min) * $dsktp-font-multiplier;
        }
        @include tablet-only {
            margin-bottom: 30px;
        }
    }
    &__content {
        height: auto;
        .card-container {
            height: auto;
            width: 100%;
            @include desktop-only {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
            @include tablet-only {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
        }
        > .zone {
            border-radius: $item-radius;
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: map-get($font-size, mid) * $dsktp-font-multiplier;
        }
    }
}