$font-size: (
    small: .8rem,
    mid: 1rem,
    mid-plus: 1.1rem,
    big-min: 1.5rem,
    big: 1.7rem,
    load: 2rem
);

$breakpoints: (
    tablet-min: 600px,
    tablet-max: 1024px,
    desktop: 1025px
);