$font-size: (
    small: .8rem,
    mid: 1rem,
    mid-plus: 1.1rem,
    big-min: 1.5rem,
    big: 1.7rem,
    load: 2rem
);

$img-path: (    
    delice-sens: "../../img/palette-gout.jpg",
    francaise: "../../img/francaise.jpg",
    note-enchantee: "../../img/note-enchantee.jpg",
    palette-gout: "../../img/palette-gout.jpg"
);