$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-hdr-shad: #6e6e6e;
$clr-ftr: #303030;

$hdr-height: 70px;
$where-height: 50px;

$icon-rtn-pos: 25;
$icon-size: 1.2rem;

$btn-height: 50px;
$btn-width: 60%;
$btn-radius: 10rem;

$item-height: 70px;
$item-width: 100%;
$item-radius: 1rem;
$item-margin-bt: 10px;

$section-width: 90%;

$card-width: 100%;
$card-height: 280px;
$card-pic-height: $card-height*.7;

$menu-radius: 3rem;
$menu-pdg-top: 30px;
$menu-icn-pdg: 15px;

$ftr-pdg: 30px;